@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    margin: 0;
    background-color: #dfd6d3;
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
}
#insere_palavra {
    text-transform: uppercase;
    text-align: center;
    color: #416ac2;
    font-weight: 700;
    
}
#exibe_palavra {
    display: flex;
    justify-content: center;
    font-size: 20pt;
    margin-top: 10px;
}
#txtErradas {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.alerta {
    color: red;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.letras_erradas {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20pt;
    margin-top: 5px;
}
#chute {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
#digita_chute {
    color: rgb(68, 17, 17);
    font-weight: 700;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #635d5b;
    outline: none;
    width: 70px;
    height: 33px;
    font-size: 20pt;
    text-align: center;
    text-transform: uppercase;
}

#boneco {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}
#boneco img {
    width: 100%;
}
#flutua {
    position: absolute;
    top: 45%;
    left: 33%;
    background-color: #ece7e1;
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 250px;
    height: 340px;
}
#resultado {
    position: absolute;
    top: 50%;
    left: 33%;
    background-color: #ece7e1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.3);
}
#avisos {
    text-align: center;
}
#inserir_palavra {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}
#tes {
    display: grid;    
}
#fundo_popup {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #eeede8;
    width: 400px;
    height: 270px;
    border-radius: 10px;
}
#inputInserir {
    display: flex;
    gap: 5px;
}
.bts {
    background-color: #416ac2;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    color: #fff;
    border-color:transparent;
    text-transform: uppercase;
}
.bts:hover {
    border-color: #fff;
}
#btmais {
    position: absolute;
    top: 10px;
    left: 10px;
}