body {
    margin: 0;
}
#inserir_palavra {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
#insere_palavra {
    text-transform: uppercase;
    font-size: 15pt;
}
#exibe_form {
    display: flex;
    justify-content: center;
    text-align: left;
}
#exibe_palavra {
    display: flex;
    justify-content: center;
    font-size: 20pt;
}
#txtErradas {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.alerta {
    color: red;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.letras_erradas {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20pt;
}
.palavra_secreta {
    background-color: bisque;
}
#chute {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#digita_chute {
    color: yellowgreen;
    outline: none;
    width: 70px;
    height: 33px;
    font-size: 20pt;
    text-align: center;
    /* text-transform: uppercase; */
}
#bt_chute {
  width: 70px;
  height: 40px;
  font-size: 10pt;
}
#boneco {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}
#boneco img {
    width: 100%;
}
#flutua {
    position: absolute;
    top: 50%;
    left: 33%;
}
.boneco {
    display: none;
  }
#resultado {
    position: absolute;
    top: 50%;
    left: 33%;
}
